baseURL: "https://m-vins.github.io"
languageCode: "en-us"
title: Sacco's Portfolio
theme: hugo-profile

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

Paginate: 3
enableRobotsTXT: true
# disqusShortname: your-disqus-shortname
# googleAnalytics: G-MEASUREMENT_ID

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: blog
      name: Blog
      title: Blog posts
      url: /blogs
      weight: 1
    # - identifier: gallery
    #   name: Gallery
    #   title: Blog posts
    #   url: /gallery
    #   weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Sacco's Portolio"
  description: This website is intended to be a personal portfolio
  # staticPath: ""  # The path to serve the static files from
  favicon: "/coding.svg"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether to add mathjax support on all pages. Alternatively, you can opt-in per page by adding `mathjax: true` in the frontmatter.
  mathjax: false

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    disableThemeToggle: true
    defaultTheme: "dark" # light

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # When using hex codes for colors, quotations must be used along with the # sign
  # color:
  #   textColor: "#343a40"
  #   secondaryTextColor: "#6c757d"
  #   backgroundColor: "#eaedf0"
  #   secondaryBackgroundColor: "#64ffda1a"
  #   primaryColor: "#007bff"
  #   secondaryColor: "#f8f9fa"

  #   darkmode:
  #     textColor: "#e4e6eb"
  #     secondaryTextColor: "#b0b3b8"
  #     backgroundColor: "#18191a"
  #     secondaryBackgroundColor: "#212529"
  #     primaryColor: "#ffffff"
  #     secondaryColor: "#212529"

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    brandLogo: "/coding.svg" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "Sacco's Portfolio" # Brand name for the brand | default is the title variable
    disableSearch: true
    # searchPlaceholder: "Search"
    stickyNavBar:
      enable : true
      showOnScrollUp : true
    enableSeparator: false
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: true
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Vincenzo."
    subtitle: "I am a Software Engineer"
    content: |-
      from Italy, and this is my personal portfolio.
    image: programmer.svg
    bottomImage:
      enable: true
    # roundImage: true # Make hero image circular | default false
    # button:

    #   enable: true
    #   name: "Resume"
    #   url: "#"
    #   download: true
    #   newPage: false


    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/m-Vins
        - icon: fab fa-linkedin
          url: https://www.linkedin.com/in/vincenzo-mezzela/
      # customIcons:
      #  - icon: /fav.png
      #    url: "https://example.com"

  # About
  about:
    enable: true
    title: "About Me"
    image: "/images/mezzela-vincenzo-round.png"
    content: |-
      My academic journey began at the Polytechnic of Turin, where I earned a Bachelor's Degree in Computer Engineering. Along these three years, I had the opportunity to participate to the Cyberchallenge Project, which introduced me to the world of Cybersecurity. I fell in love with binary challenges and explored the inner details of the memory and its associated vulnerabilities. This experience inspired me to pursue a Master's Degree with a specialization in Cybersecurity.

      In the first year of my Master's program, I took a course on System and Devices Programming, which deepened my interest in Operating Systems and solidified my desire to become an expert in this field. I was then awarded an Erasmus Scholarship, allowing me to pursue a Double Degree at Eurecom, located in the heart of Sophia Antipolis (France), also known as Europe's Silicon Valley.

      To complete the Double Degree program, after studying one year in Turin and one year at Sophia Antipolis, I took an internship at Amadeus S.A.S, where I worked on integrating a Fuzzer into their C++ core software stack.

      In April 2024, I graduated magna cum laude from the Polytechnic of Turin.

      Since then, I have been dedicating time to a mentorship program on the Linux kernel (as a mentee) and am actively seeking job opportunities.

    skills:
      enable: false
      title: "Below are the programming languages and tools I am most proficient in"
      items:
        - "C"
        - "Python"
        - "Bash"
        - "C++"

  # Experience
  experience:
    enable: true
    # title: "Custom Name"
    items:
      - job: "Security Engineer Intern"
        company: "Amadeus"
        companyUrl: "https://amadeus.com/en"
        date: "Sept 2023 - March 2024"
        # featuredLink:
        #   enable: true
        #   name: "View the project"
        #   url: "https://example.com"
        content: "Led comprehensive research and implementation efforts to integrate AFLplusplus, an open-source mutational coverage-guided fuzzer, into company’s core C++ software stack. The objective was to advance the secure development lifecycle of the applications."

  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Master's Degree in Digital Security"
        school:
          name: "Eurecom, France"
          url: "https://www.eurecom.fr/"
        date: "Sept. 2022 - March. 2024"
        # GPA: "3.8 out of 5.0"
      - title: "Master's Degree in Computer Engineering and Cybersecuriy"
        school:
          name: "Polytechnic of Turin, Italy"
          url: "https://www.polito.it/"
        date: "Sep. 2021 – Apr. 2024"
        GPA: "110/110 cum Laude"
      - title: "Bachelor's Degree in Computer Engineering"
        school:
          name: "Polytechnic of Turin, Italy"
          url: "https://www.polito.it/"
        date: "Sep. 2018 – Jul. 2021"
        GPA: "108/110"

  # Achievements
  # achievements:
  #   enable: true
  #   # title: "Custom Name"
  #   items:
  #     - title: Google kickstart runner
  #       content: I solved all problems with optimal solution.
  #       url: https://example.com
  #       image: /images/achievment.jpg
  #     - title: Facebook Hackathon Winner
  #       content: Developed a product using Artificial Intelligence.
  #       image: /images/achievment.jpg
  #     - title: Hugo Profile
  #       content: Developed a theme and getting 1K+ downloads per month.
  #       url: "https://github.com/gurusabarish/hugo-profile"
  #       image: /images/achievment.jpg
  #     - title: Microsoft Imagine Runner
  #       content: We are developed a product which can help others.
  #     - title: Google Summer of Code
  #       content: Contributed to a open source project.
  #       url: https://example.com

  # projects
  projects:
    enable: true
    # title: "Custom Name"
    items:
      - title: Virtual Memory in OS161 
        content: Development of the virtual memory kernel module for OS161 with demand paging and swap management.
        badges:
          - "C"
          - "Kernel Programming"
        links:
          - icon: fab fa-github
            url: https://github.com/m-Vins/OS161-DEMAND-PAGING

      - title: Pong Game on a LandTiger board
        content: Development of the pong game on a bare metal, tackling interrupts, registers and user peripherals devices programming.
        badges:
          - "C"
          - "Assembly"
        links:
          - icon: fab fa-github
            url: https://github.com/m-Vins/Pong-game-on-a-LandTiger-board

      - title: Cyberchallenge
        content: |-
          Carried out a path of formation in cyber security, up to the selection for the Italian championship
          of cyber-defender. Along this path I have been trained to solve Capture The Flag challenges about
          different topics such as cryptography, binary, network, web, reverse and pwn.
        image: /images/projects/profile2.jpg
        badges:
          - "C"
          - "Assembly"
          - "Reverse Engineering"
      - title: Distributed Backend System
        content: |-
          Development of a simple backend system where data are split over different fault-tolerant
          servers.
        badges:
          - "C++"
          - "Remote Procedure Call"
          - "Protobuffer"

  #Contact
  contact:
    enable: true
    content: vincenzo [dot] mezzela [at] gmail [dot] com
    # btnName: Mail me
    # btnLink: mailto:<mail>@gmail.com
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"
    #   messageRows: 5

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: true
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/m-Vins
      linkedin: https://www.linkedin.com/in/vincenzo-mezzela

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    socialShare: true
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true
    tags:
      openInNewTab: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"

  #customScripts: -| # You can add custom scripts which will be added before </body> tag
  #  <script type="text/javascript"><!-- any script here --></script>
